@using Entities
@using Business

<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nombre</th>
			<th>Edad</th>
			<th>Carrera</th>
			<th>Semestre</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var student in Students)
		{
			<tr>
				<td>@student.StudentId</td>
				<td>@student.StudentName</td>
				<td>@student.StudentAge</td>
				<td>@student.StudentCareer</td>
				<td>@student.StudentSemester</td>
			</tr>
		}
	</tbody>
</table>
@code {
	List<Students> Students = new List<Students>();

	protected override async Task OnInitializedAsync()
	{
		Students = B_Student.students();
	}
}
